<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Women_Empowerment</title>
</head>
<body>
    <div class="container">
        <div class="col-sm-4">
            <form action='/user_login' method="POST">
                <button>
                    USER_LOGIN
                </button>
            </form>
            <form action='/company_login' method="POST">
                <button>
                        COMPANY_LOGIN
                </button>
            </form>
            <form action='/projects_login' method="POST">
                <button>
                        POJECTS_LOGIN
                </button>
            </form>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>