<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/xyz" method ="POST">
        <p>  <label for="companylegalname"><b>Company Legal Nmae</b></label>
            <input type="text" placeholder="Enter Company  Legal Name" name="companyname" required value=""></p>
        <p>  <label for="companyaddress"><b>Company Legal Address</b></label>
             <input type="text" placeholder="Enter Company  Legal Address" name="companyaddress" required></p> 
        <p>  <label for="companycitystatezip"><b>Company Legal City State And ZIP</b></label>
             <input type="text" placeholder="Enter Company  Legal City State And ZIP" name="companycitystatezip" required></p>
        <p>  <label for="companyphoneno"><b>Company Phone Number</b></label>
            <input type="text" placeholder="Enter Company  Phone Number" name="companyphoneno" required></p> 
        <p> <label for="companywebsite"><b>Company Website URL</b></label>
            <input type="text" placeholder="Enter Company  Website URL" name="companywebsite" required></p>
        <p> <label for="companyprimaryindustrycode"><b>Company Primary Industry Code</b></label>
            <input type="text" placeholder="Enter Company  Primary Industry Code" name="companyprimaryindustrycode" required></p>
        <p> <label for="companyservices"><b>Primary Supplies/Services Offered</b></label>
            <input type="text" placeholder="Enter Company Primary Supplies/Services Offered  " name="companyservices" required></p>                                                                           
        <p> <label for="companyentity"><b>Company Legal Entity Type</b></label>
            <input type="text" placeholder="Enter Company Company Legal Entity Type " name="companyentity" required></p>             
        <p> <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required></p>
        <p><label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        </p>
        <p> <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
        </p>
        <button class="btn" type="submit">Submit</button>

      
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
        </form>
        
</body>
</html>